@import url(root.css);
@import url(tailwind.css);
@media (max-width: 220px) {
  body {
    display: none;
  }
  html::after {
    content: "Please buy a new phone";
  }
}
:root {
  --primary-100: #2752e7;
  --primary-80: #5275ec;
  --primary-60: #7d97f1;
  --primary-40: #d0dbff;
  --primary-20: #f5f8fe;
  --primary-hover: #183fcf;
  --accent-error-100: #e25c5c;
  --accent-error-80: #e87d7d;
  --accent-error-60: #ee9d9d;
  --accent-error-40: #f3bebe;
  --accent-error-20: #f9dede;
  --accent-success-100: #53d258;
  --accent-success-80: #75db79;
  --accent-success-60: #98e49b;
  --accent-success-40: #baedbc;
  --accent-success-20: #ddf6de;
  --base-100: #111;
  --base-80: #2c3131;
  --base-60: #626262;
  --base-40: #a9a9a9;
  --base-30: #cacaca;
  --base-20: #e3e3e3;
  --white: #fff;
}

/* ! Navbar Styling */
.menu-right-links {
  background: var(--white);
  position: fixed;
  height: 90px;
  width: 100vw;
  bottom: 0;
  right: 0;
  left: -100%;
  border-top: 1px solid var(--base-30);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.1s ease;
  visibility: hidden;
}

.menu-links-parent {
  background: var(--white);
  position: fixed;
  height: calc(100vh - 80px);
  width: 100vw;
  top: 70px;
  bottom: 0;
  right: 0;
  left: -100%;
  transition: 0.1s;
  visibility: hidden;
  background: var(--white);
}
.menu-links-parent ul li {
  display: block;
  border-bottom: 1px solid var(--base-30);
}

.menu-links-parent ul li:first-child {
  border-top: 1px solid var(--base-30);
}

.menu-links-parent ul li a {
  display: block;
  padding: 20px;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.1s;
}

nav.open-menu .nav-menu .menu-links-parent {
  display: block !important;
  left: 0;
  visibility: visible;
}
nav.open-menu .nav-menu .menu-right-links {
  display: flex !important;
  left: 0;
  visibility: visible;
}

.burger-menu a {
  background: url(../img/burger.svg) no-repeat center;
}

nav.open-menu {
  position: fixed;
  width: 100%;
  background: var(--white);
  z-index: 99999;
}

nav.open-menu .nav-menu .burger-menu a {
  background: url(../img/burger-open.svg) no-repeat center;
}
/*!--------------------------  */
@media (min-width: 1024px) {
  .menu-right-links,
  .menu-links-parent {
    position: initial;
    height: initial;
    width: initial;
    bottom: initial;
    right: initial;
    left: initial;
    border: none;
    display: block;
    visibility: visible;
  }

  .menu-links-parent ul li {
    display: inline-block;
    border: none;
  }
  .menu-links-parent ul li a {
    padding: 28px 14px;
    position: relative;
    color: var(--base-80);
  }

  .burger-menu button {
    padding: 19px;
  }

  .menu-links-parent ul li a::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    background: var(--primary-100);
    bottom: 23px;
    right: 0;
    left: 0;
    margin: 0 auto;
    transition: 75ms ease;
    border-radius: 10px;
  }
  .menu-links-parent ul li:hover a::after {
    width: 30px;
  }
}
/* ! Header Styling */

header {
  background: linear-gradient(
      360deg,
      #f8f8fc 40%,
      rgba(248, 248, 252, 0) 60%,
      rgba(248, 248, 252, 0) 100%
    ),
    linear-gradient(180deg, #ffffff 0, rgb(255 0 0 / 0%) 60px),
    url(../img/bg-circle.svg) 80% -24vw no-repeat;
  background-size: 160%;
}

.bg-circles-left::before {
  content: "";
  height: 150%;
  width: 150%;
  background-color: red;
  position: absolute;
}

@media (min-width: 640px) {
  .call-to-action {
    width: 600px;
    margin: 0 auto;
  }
}

.call-to-action h1 span {
  color: var(--primary-100);
}
.call-to-action p {
  color: var(--base-60);
}
.company-data {
  background: var(--white);
  border-radius: 10px;
  border: 1px solid var(--base-20);
}
.data-item p {
  text-align: center;
}
.data-item p:first-child {
  color: var(--base-80);
}
.data-item p:last-child {
  color: var(--base-60);
}
.data-item {
  padding: 0 36px;
  border-right: none;
  margin-bottom: 49px;
  margin-top: 0;
  display: grid;
  justify-items: center;
}
.data-item p:first-child {
  width: 120px;
  text-align: center;
  padding-top: 49px;
  border-top: 1px solid var(--base-30);
}
.data-item:first-child p:first-child {
  border-top: none;
}

@media (min-width: 768px) {
  .data-item {
    padding: 17px 36px;
    border-right: 1px solid var(--base-30);
    margin: 32px 0;
    display: grid;
    justify-items: center;
  }

  .data-item:last-child {
    border-right: none;
  }

  .data-item p:first-child {
    padding-top: 0;
    border-top: none;
  }
}

/* ! Main Content Styling */

.platforms-img-right {
  background: #e8fafe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.features-parent {
  max-width: 426px;
}
.features-item {
  border-bottom: 1px solid var(--base-20);
}
.features-item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
.features-item div h5 {
  color: var(--base-80);
}

.features-item div:first-child h5 {
  color: #d0dbff;
}

.features-item p {
  color: var(--base-60);
}

/*/ Feature Cards */
.feature-card {
  margin-bottom: 64px;
}

.feature-card:last-child {
  margin-bottom: 0 !important;
}

.feature-cards-img span {
  height: calc(100% - 8%);
  position: absolute;
  top: 8%;
  right: 8%;
  left: 8%;
  border-radius: 4%;
  z-index: -9;
  background: #fff8ee;
}

.feature-cards-text h2 {
  color: #111827;
  margin-bottom: 16px;
}

.feature-cards-text p {
  color: var(--base-60);
}

.feature-card.feature-card-reverse .feature-cards-img span {
  background: #e8fafe;
}

.title {
  max-width: 600px;
  margin: 0 auto;
}

.title h2 {
  color: var(--base-80);
  text-align: center;
}

.title p {
  color: var(--base-60);
  text-align: center;
}

.starting-process-card {
  border: 1px solid var(--base-20);
  border-radius: 20px;
  text-align: center;
  background: var(--white);
}
.starting-process-card h5 {
  color: var(--base-80);
}
.starting-process-card p {
  color: var(--base-60);
}

.starting-process-bg {
  position: absolute;
  height: 430px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f8f8fc;
  z-index: -99;
}

/*  Review Section */

.review-section {
  height: 870px;
  overflow: hidden;
  transition: 0.2s;
}

.review-card-item {
  padding: 20px 16px;
  border: 1px solid var(--base-20);
  border-radius: 10px;
}

.review-card-item .review-card-name {
  color: var(--base-80);
}
.review-card-item .review-card-position {
  color: var(--base-40);
}
.review-card-item .review-card-text {
  color: var(--base-60);
}

.review-card-item img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.review-fade-effect {
  background: linear-gradient(0deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 20px;
  transition: 0.2s;
}

.load-review .review-section .review-fade-effect {
  bottom: -350px;
}

.load-review .review-section {
  height: fit-content;
}

/*  Call to Action Footer */

.call-to-action-footer {
  background: var(--primary-100);
  overflow: hidden;
}
.call-to-action-footer h3 {
  color: var(--white);
}

.cta-effect-1::before,
.cta-effect-1::after {
  content: "";
  background: #406eec;
  position: absolute;
  border-radius: 50%;
}
.cta-effect-1::before {
  height: 230px;
  width: 230px;
  top: -131px;
  left: -161px;
}

.cta-effect-1::after {
  height: 921px;
  width: 921px;
  top: 95px;
  right: -691px;
}

.cta-effect-2::before,
.cta-effect-2::after {
  content: "";
  border: 1px solid #d0dbff;
  position: absolute;
  border-radius: 50%;
}

.cta-effect-2::after {
  height: 430px;
  width: 430px;
  left: 16px;
  bottom: -390px;
}

.cta-effect-2::before {
  width: 276px;
  height: 276px;
  top: -56px;
  right: -182px;
}

.cta-effect-3 {
  background: url(../img/dots.svg) no-repeat center;
  position: absolute;
  right: 140px;
  bottom: -14px;
  width: 205px;
  height: 200px;
}

@media (min-width: 1024px) {
  .cta-effect-1::before {
    top: -120px;
    left: -106px;
  }

  .cta-effect-1::after {
    top: -46px;
    right: -480px;
  }

  .cta-effect-2::before {
    top: -134px;
    right: -64px;
  }
  .cta-effect-2::after {
    height: 430px;
    width: 430px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    bottom: -310px;
  }

  .cta-effect-3 {
    right: 100px;
  }

  .cta-coins {
    background: url(../img/crypto-coins.svg);
    position: absolute;
    width: 313px;
    height: 374px;
    right: 69px;
    bottom: 56px;
    zoom: 0.9;
  }
}

@media (min-width: 1280px) {
  .cta-effect-1::after {
    right: -360px;
  }

  .cta-effect-3 {
    background: url(../img/dots.svg) no-repeat center;
    position: absolute;
    right: 140px;
    bottom: -14px;
    width: 205px;
    height: 200px;
  }
  .cta-coins {
    zoom: 1;
    bottom: 23px;
  }
}
