@import url(root.css);

:root {
  --primary-100: #2752e7;
  --primary-80: #5275ec;
  --primary-60: #7d97f1;
  --primary-40: #d0dbff;
  --primary-20: #f5f8fe;
  --primary-hover: #183fcf;
  --accent-error-100: #e25c5c;
  --accent-error-80: #e87d7d;
  --accent-error-60: #ee9d9d;
  --accent-error-40: #f3bebe;
  --accent-error-20: #f9dede;
  --accent-success-100: #53d258;
  --accent-success-80: #75db79;
  --accent-success-60: #98e49b;
  --accent-success-40: #baedbc;
  --accent-success-20: #ddf6de;
  --base-100: #111;
  --base-80: #2c3131;
  --base-60: #626262;
  --base-40: #a9a9a9;
  --base-30: #cacaca;
  --base-20: #e3e3e3;
  --white: #fff;
}

/* ! Navbar Styling */
.menu-right-links {
  background: var(--white);
  position: absolute;
  height: 90px;
  width: 100vw;
  bottom: 0;
  right: 0;
  left: -100%;
  border-top: 1px solid var(--base-30);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.1s ease;
}

.menu-links-parent {
  background: var(--white);
  position: absolute;
  height: calc(100vh - 160px);
  width: 100vw;
  top: 70px;
  bottom: 90px;
  right: 0;
  left: -100%;
  transition: 0.1s;
}
.menu-links-parent ul li {
  display: block;
  border-bottom: 1px solid var(--base-30);
}
.menu-links-parent ul li a {
  display: block;
  padding: 20px;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--white);
  transition: 0.1s;
}
.nav-parent.open-menu .nav-menu {
  border-bottom-color: var(--base-40);
}
nav.open-menu .nav-menu .menu-links-parent {
  display: block !important;
  left: 0;
}
nav.open-menu .nav-menu .menu-right-links {
  display: flex !important;
  left: 0;
}
/*!--------------------------  */
@media (min-width: 1024px) {
  .menu-right-links,
  .menu-links-parent {
    position: initial;
    height: initial;
    width: initial;
    bottom: initial;
    right: initial;
    left: initial;
    border: none;
    display: block;
  }

  .menu-links-parent ul li {
    display: inline-block;
    border: none;
  }
  .menu-links-parent ul li a {
    padding: 28px 14px;
    position: relative;
    color: var(--base-80);
  }

  .burger-menu button {
    padding: 19px;
  }

  .menu-links-parent ul li a::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    background: var(--primary-100);
    bottom: 23px;
    right: 0;
    left: 0;
    margin: 0 auto;
    transition: 75ms ease;
    border-radius: 10px;
  }
  .menu-links-parent ul li:hover a::after {
    width: 30px;
  }
}
/* ! Header Styling */

header {
  background: linear-gradient(
      360deg,
      #f8f8fc 40%,
      rgba(248, 248, 252, 0) 60%,
      rgba(248, 248, 252, 0) 100%
    ),
    linear-gradient(180deg, #ffffff 0, rgb(255 0 0 / 0%) 60px),
    url(../img/bg-circle.svg) 80% -24vw no-repeat;
  background-size: 160%;
}

.bg-circles-left::before {
  content: "";
  height: 150%;
  width: 150%;
  background-color: red;
  position: absolute;
}

@media (min-width: 640px) {
  .call-to-action {
    width: 600px;
    margin: 0 auto;
  }
}

.call-to-action h1 span {
  color: var(--primary-100);
}
.call-to-action p {
  color: var(--base-60);
}
.company-data {
  background: var(--white);
  border-radius: 10px;
  border: 1px solid var(--base-20);
}
.data-item {
  padding: 17px 36px;
  border-right: 1px solid var(--base-30);
  margin: 32px 0;
}

.data-item:last-child {
  border-right: none;
}

.data-item p {
  text-align: center;
}
.data-item p:first-child {
  color: var(--base-80);
}
.data-item p:last-child {
  color: var(--base-60);
}

@media (max-width: 768px) {
  .data-item {
    padding: 0 36px;
    border-right: none;
    margin-bottom: 49px;
    margin-top: 0;
    display: grid;
    justify-items: center;
  }
  .data-item p:first-child {
    width: 120px;
    text-align: center;
    padding-top: 49px;
    border-top: 1px solid var(--base-30);
  }

  .data-item:first-child p:first-child {
    border-top: none;
  }
}
